html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #356b8f;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 10px;
}